{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
	<title>Human Trafficking App</title>
</head>
<body>
	<h1>Keyword Search</h1><br>
	<label>Enter Keywords: </label>
	<input type='text' id='keywords'><br>
	<label>Enter Language: </label>
	<select id="language">
		<option value="com">English</option>
		<option value="es">Spanish</option>
	</select><br>
	<label>Enter Location: </label>
	<select id="location">
                <option value="g147288">Dominican Republic</option>
                <option value="g147319">Puerto Rico</option>
	</select><br><br>
	<button id="btn">Click Me!</button>
	<table id="table" class="display" style="width=100%"></table>
</body>
</html>
